<div class="container">
  <div class="row justify-content-center">
    <div class="col-4 ">
      <form action="/restaurants/{{restaurants._id}}?_method=put" method="post">

      <div class="row align-items-center">
      
      
        <label for="name" class="col-md-8 mt-2">Name*</label>
      
        <div class="col-md-4 ">
          <input type="text" placeholder="name" name="name"  value="{{restaurants.name}}" required>
        </div>
      
      </div>

      <div class="row align-items-center">
      
      
        <label for="name" class="col-md-8 mt-2">Name_en</label>
      
        <div class="col-md-4 ">
          <input type="text" placeholder="name_en" name="name_en" value="{{restaurants.name_en}}">
        </div>
      
      </div>

      <div class="row align-items-center">
      
      
        <label for="name" class="col-md-8 mt-2">Category</label>
      
        <div class="col-md-4 ">
          <input type="text" placeholder="category" name="category" value="{{restaurants.category}}">
        </div>
      
      </div>

      <div class="row align-items-center">
      
      
        <label for="name" class="col-md-8 mt-2">Image*</label>
      
        <div class="col-md-4 ">
          <input type="url" placeholder="image" name="image" value="{{restaurants.image}}" required>
        </div>
      
      </div>

      <div class="row align-items-center">
      
      
        <label for="name" class="col-md-8 mt-2">Location*</label>
      
        <div class="col-md-4 ">
          <input type="text" placeholder="location" name="location" value="{{restaurants.location}}" required>
        </div>
      
      </div>

      <div class="row align-items-center">
      
      
        <label for="name" class="col-md-8 mt-2">Phone*</label>
      
        <div class="col-md-4 ">
          <input type="tel" placeholder="phone" name="phone" value="{{restaurants.phone}}" required>
        </div>
      
      </div>

      <div class="row align-items-center">
      
      
        <label for="name" class="col-md-8 mt-2">Google_map</label>
      
        <div class="col-md-4 ">
          <input type="url" placeholder="google_map" name="google_map" value="{{restaurants.google_map}}">
        </div>
      
      </div>

      <div class="row align-items-center">
      
      
        <label for="name" class="col-md-8 mt-2">Rating*</label>
      
        <div class="col-md-4 ">
          <input type="number" placeholder="rating" name="rating" min="0" max="5" step="0.1" value="{{restaurants.rating}}" required>
        </div>
      
      </div>

      <div class="row align-items-center">
      
      
        <label for="name" class="col-md-8 mt-2">Description</label>
      
        <div class="col-md-4 ">
          <input type="text" placeholder="description" name="description" value="{{restaurants.description}}">
        </div>
      
      </div>
      
      
      <div class="d-flex justify-content-md-end mt-3" style="width: 440px; ;">
        
        <button type="submit" class="btn btn-primary mx-1">save</button>
        <a href="/" class="my-auto">back</a>
      </div>


        
        
        
        
        
        
        
        
        

        


      </form>





    </div>


  </div>