{{!-- views/index.handlebars --}}




<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <div class="row">


         <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append me-5">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>

          
            <select class="form-control ml-5" id="sort" name="sort" >
              <option value="name_asc">A > Z</option>
              <option value="name_desc">Z > A</option>
              <option value="category_asc">類別</option>
              <option value="location_asc">地區</option>
            </select>
          

        </div>

      </form>

      



      </div>
     

    </div>
  </div>
</div>

<div class="container">
  <div class="position-relative">
    <a href="/new" class="position-absolute position-fixed start-100"><i class="fas fa-plus-circle fa-4x" style="color: rgb(62, 237, 39);"></i></a>
  </div>

</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">

    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}}


        <a href="/restaurants/{{this._id}}" class="text-secondary">
          <div class="card ">
            <img class="card-img-top" src="{{this.image}}" alt="...">
            <div class="card-body p-1">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils mr-2"></i> {{this.category}}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-1x"></i>
              </span>

            </div>
          </div>
        </a>
        
        <div class="card-footer row mb-1 justify-content-end w-100">
          <div class="col-3 my-auto">
            <a href="./restaurants/{{ this._id }}" >detail</a>
          </div>

          <div class="col-2 my-auto ">
            <a href="./restaurants/{{ this._id }}/edit">edit</a>
          </div>
          
          <div class="col-2">
            <form action="./restaurants/{{ this._id }}?_method=DELETE" method="POST" >
            <button type="submit" class="btn btn-outline-danger" >delete</button>
            </form>
          </div>
            
          
          

        </div>
        

        {{/each}}


      </div>
    </div>
  </div>
</div>